<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style-global.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>ERREUR 403</title>
</head>

<body>
<div class="d-flex flex-column h-100 align-items-center justify-content-center">
    <header th:replace="~{fragments/header :: header}"></header>
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 overflow-auto mt-5">
                <h1>ERREUR 403 !</h1>
                <h2>Bha alors, on teste des trucs ? </h2>
                <h3><a th:href="@{/index}">Accueil</a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>