html, body {
    height: 95%;
}
header{
    height: 5%;
}
body {
    background-color: rgb(59, 59, 59);
    color: #fff;
}

textarea {
    resize: none;
}

.brand {
    color: #ffc400;
}

.brand:hover {
    color: #b5ff00;
    text-shadow: 0 0 5px #e4fd06, 0 0 55px #ff6a00, -20px -22px 2px rgba(2, 2, 2, 0);
}

.custom-textarea {
    color: #fff;
}
.custom-input{
    color: #ffc400;
}

.messageArea{
    height: 60vh;
}