html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;

    overflow: hidden;
}

body {
    background-color: rgb(59, 59, 59);
    color: #fff;
}

.container {
    background-color: rgb(59, 59, 59);
}

/* Input */
textarea {
    resize: none;
}

.custom-input {
    color: #ffc400;
}

/* ######################### */

/* Gestion area */

header {
    height: 5%;
}

.message-area {
    height: 75vh;
}

.main-area {
    height: 75vh;
}

.table-area {
    height: 90vh;
}

fieldset {
    width: 75%;
}

/* ######################### */

.icon {
    z-index: -1;
    height: 25px;
    width: 25px;
    filter: invert(99%) sepia(0%) saturate(3889%) hue-rotate(200deg) brightness(110%) contrast(100%);
}


/* Message flash & alert */

.msg-flash {

    text-align: center;
    background-color: #565656;
    color: #ff7a00;

    /* Hide flash msg */
    -moz-animation: hide-flash 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hide-flash 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hide-flash 0s ease-in 5s forwards;
    /* Opera */
    animation: hide-flash 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hide-flash {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes hide-flash {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.alert {
    font-size: 12px;
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

/* ######################### */

/* Nom appli */
.brand {
    color: #ffc400;
}

.brand:hover {
    color: #b5ff00;
    text-shadow: 0 0 5px #e4fd06, 0 0 55px #ff6a00, -20px -22px 2px rgba(2, 2, 2, 0);
}

/* ######################### */

/* Personnalisation barre de défilement */

/* Pour les navigateurs WebKit (Safari, Chrome, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}

/* Pour les navigateurs WebKit (Safari, Chrome, Edge) */
::-webkit-scrollbar-thumb {
    background-color: #c97317; /* Couleur de la barre de défilement */
    border-radius: 6px; /* Rayon des coins de la barre de défilement */
}

/* ######################### */