<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Patatachat !</title>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style-global.css}" rel="stylesheet"/>
</head>
<body>

<div class="d-flex flex-column h-100 align-items-center justify-content-center">
    <header th:replace="~{fragments/header :: header}"></header>


    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 overflow-auto message-area" id="messageArea"></div>

            <hr class="hr"/>

            <div class="col-md-12 message-form">
                <form id="messageForm" name="messageForm">
                    <div class="form-group pb-2">
                        <label for="message">Nouveau Message</label>
                        <textarea id="message" autocomplete="off" class="form-control bg-dark text-light"></textarea>
                        <!-- TODO : On peut faire plus propre pour le userName-->
                        <h3 id="userName" sec:authorize="isAuthenticated()" sec:authentication="name"
                            th:hidden="true"></h3>
                    </div>
                    <button type="submit" class="form-group btn btn-dark w-100 custom-input">Envoyer</button>
                </form>

                <form th:if="${isAdmin}" th:action="@{/clear}" method="post">
                    <input class="btn btn-danger w-100 form-group" type="submit" value="Nettoyer">
                </form>

            </div>
        </div>
    </div>
</div>

<script th:src=" @{/js/main.js}"></script>
</body>
</html>