<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style-global.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main role="main" class="container pt-3">
    <div class="row" style="height: 10vh;">
        <h1>Bienvenue sur PatataChat !</h1>
    </div>
    <div class="row">
        <!--        <div class="col-md-2 overflow-auto messageArea">
                    &lt;!&ndash; Liste des utilisateurs &ndash;&gt;
                    <h5>Utilisateurs :</h5>
                    <ul>
                        <li th:each="user : ${users}" th:text="${user.login}"></li>
                    </ul>
                    <hr class="hr"/>
                    <form class="col-md-3 align-items-end" th:action="@{clear}" method="post">
                        <input class="btn btn-danger" type="submit" value="Nettoyer">
                    </form>
                </div>-->

        <div class="col-md-12 overflow-auto messageArea" id="messageArea"></div>
        <hr class="hr"/>
        <div class="row">
            <div class="col-md-12" style="height: 10vh;">
                <form id="messageForm" name="messageForm">
                    <div class="form-group pb-2">
                        <label for="message">Nouveau Message</label>
                        <textarea id="message" autocomplete="off" class="form-control bg-dark text-light"></textarea>
                        <!-- TODO : On peut faire plus propre pour le userName-->
                        <h3 id="userName" sec:authorize="isAuthenticated()" sec:authentication="name"
                            th:hidden="true"></h3>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 custom-input">Envoyer</button>

                    <form th:if="${isAdmin}" th:action="@{clear}" method="post">
                        <input class="btn btn-danger w-100" type="submit" value="Nettoyer">
                    </form>

                </form>
            </div>
        </div>
    </div>
</main>


<script th:src=" @{/js/main.js}"></script>
</body>
</html>