<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Index</title>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--<h1>Bienvenue sur PatataChat !</h1>

<form th:action="@{/magicButton}" method="post">
    <button type="submit">Magic Button</button>
</form>-->

<div class="wrapper">
    <div class="content-menu">

    </div>
    <section class="content-center-row">
        <table>
            <thead>
            <tr>
                <th>Login</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.login}"></td>
                <td>
                    <a th:href="@{users/detail(id=${user.id})}">
                        <img class="icon icon-search"
                             src="/icons/search.svg"
                             alt="loupe">
                    </a>
                <td>
                    <a th:href="@{users/delete(id=${user.id})}">
                        <img class="icon icon-trash"
                             src="/icons/trash.svg"
                             alt="poubelle">
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </section>
</div> <!-- /wrapper -->

</body>
</html>